.header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
    background-color: black;
    z-index: 1;
}
.title{
    font-size: 22pt;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}
.background{
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 234, 195);
}